@using GestaoDeEstoque3D.Dapper.Core

@{
    ViewBag.Title = "Início";

    ViewBag.Versao = new SistemaConfiguracaoCore().RetornarPorNome("versao").Valor;
}

<head>
    <script src="~/Libraries/ko/ko.js"></script>
    <script src="~/Libraries/ko/ko-mapping.js"></script>
    <script src="~/Libraries/three/three-min.js"></script>
    <script src="~/Libraries/orbit-controls/orbit-controls.js"></script>
    <script src="~/Scripts/ContainerPacking/container-packing.js"></script>
</head>

<h2>Início - Gestão de Estoque 3D</h2>

<a href="/TipoItemEstoque">Tipos de Item de Estoque</a>
<br>
<a href="/Estante">Estantes</a>
<br>
<a href="/Planta2D">Planta 2D</a>

<div id="drawing-container"></div>
<button onclick="viewModel.UnpackItemInRender()"><</button>
<button onclick="viewModel.PackItemInRender()">></button>