@using GestaoDeEstoque3D.Dapper.Core

@{
    ViewBag.Title = "Planta 2D";

    ViewBag.Versao = new SistemaConfiguracaoCore().RetornarPorNome("versao").Valor;
}

<head>
    <link type="text/css" rel="stylesheet" href="~/Libraries/tabulator/tabulator.min.css?v=@ViewBag.Versao">

    <link type="text/css" rel="stylesheet" href="~/Libraries/leaflet/leaflet.css?v=@ViewBag.Versao">
    <link type="text/css" rel="stylesheet" href="~/Libraries/leaflet-geoman/leaflet-geoman.css?v=@ViewBag.Versao">

    <link type="text/css" rel="stylesheet" href="~/Content/Planta2D/Planta.css?v=@ViewBag.Versao">
    <link type="text/css" rel="stylesheet" href="~/Content/Planta2D/View3D.css?v=@ViewBag.Versao">
    <link type="text/css" rel="stylesheet" href="~/Content/Planta2D/toolbar.css?v=@ViewBag.Versao">

    <script src="https://kit.fontawesome.com/083c25095f.js" crossorigin="anonymous"></script>
</head>

<div class="planta-container">
    <div id="planta"></div>
</div>

<div class="view-3d-container">
    <div id="view-3d"></div>
</div>

<div id="ModalNovoPoligono" class="modal-template-container">
    <div class="modal-template-inner-container" style="box-shadow: 0px 0px 20px 2px black;">
        <div class="modal-template-header">
            <h2 class="modal-h2">Escolha a camada para criar o polígono</h2>
        </div>
        <div class="modal-template-body">
            <select class="select-template" id="select-camada-novo-poligono"></select>
            <button type="button" class="button-template" id="btnNovoPoligono">Criar</button>
        </div>
    </div>
</div>

<div id="ModalAdicionarReferencia" class="modal-template-container">
    <div class="modal-template-inner-container" style="box-shadow: 0px 0px 20px 2px black;">
        <div class="modal-template-header">
            <h2 class="modal-h2">Código da estante</h2>
        </div>
        <div class="modal-template-body">
            <input type="text" id="codigo-estante-input" class="select-template">
            <button type="button" class="button-template" id="btnAdicionarReferencia">Adicionar referência</button>
        </div>
    </div>
</div>

<div id="ModalAdicionarEstante" class="modal-template-container">
    <div class="modal-template-inner-container" style="box-shadow: 0px 0px 20px 2px black;padding: 5px 15px;">
        <div class="modal-template-header">
            <h2 class="modal-h2">Adicionar Estantes</h2>
        </div>
        <div class="modal-template-body">
            <div id="tabela-adicionar-estante"></div>
            <button type="button" class="button-template" id="btnAdicionarEstante">Fechar</button>
        </div>
    </div>
</div>

<div id="ModalItensDeEstoque" class="modal-template-container">
    <div class="modal-template-inner-container" style="box-shadow: 0px 0px 20px 2px black;padding: 5px 15px;">
        <div class="modal-template-header">
            <h2 class="modal-h2">Itens de Estoque</h2>
        </div>
        <div class="modal-template-body">
            <div id="tabela-adicionar-estante"></div>
            <button type="button" class="button-template" style="margin-bottom: 5px">Estocar</button>
            <button type="button" class="button-template" style="margin-bottom: 5px">Retirar</button>
            <button type="button" class="button-template" style="margin-bottom: 5px">Lançar Perda</button>
            <button type="button" class="button-template" onclick="$('#ModalItensDeEstoque').css('display', 'none')">Fechar</button>
        </div>
    </div>
</div>

<script src="~/Libraries/tabulator/tabulator.min.js?v=@ViewBag.Versao"></script>

<script src="~/Libraries/leaflet/leaflet.js?v=@ViewBag.Versao"></script>
<script src="~/Libraries/leaflet-geoman/leaflet-geoman.min.js?v=@ViewBag.Versao"></script>
<script src="~/Libraries/leaflet-label/leaflet.label.js?v=@ViewBag.Versao"></script>
<script src="~/Libraries/three/three-min.js?v=@ViewBag.Versao"></script>
<script src="~/Libraries/orbit-controls/orbit-controls.js?v=@ViewBag.Versao"></script>

<script src="~/Scripts/Planta2D.Controls/toolbar.js?v=@ViewBag.Versao"></script>
<script src="~/Scripts/Planta2D.Controls/adicionar-estante.js?v=@ViewBag.Versao"></script>
<script src="~/Scripts/Planta2D.Controls/itens-de-estoque.js?v=@ViewBag.Versao"></script>
<script src="~/Scripts/Planta2D/planta.js?v=@ViewBag.Versao"></script>
<script src="~/Scripts/View3D/View3D.js?v=@ViewBag.Versao"></script>